<nav class="navbar navbar-expand-lg navbar-light">
  <a> <%= link_to "Planet Marketplace", root_path, class: "navbar-brand" %> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <%# Search Categories - Dropdown Menu %>
      <%= render "navbar/categories" %>

      <%# Search - Text Input %>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </ul>

    <%# New Listing - Button %>
    <%= render "listings/buttons/new" %>

    <%# <form class="form-inline my-2 my-lg-0"> %>

    <%# User - Login / Logout/ View Profile/ Sign Up %>
    <%= render "navbar/user" %>
    
    <%# </form> %>

  </div>
</nav>