
footer {
    margin: 80px 0 50px 0;
}

.email {
    font-size: 20px;
    text-align: center; 
}

.social_icons a{
    margin-top: 10px 0 0 0;
    font-size: 40px;
    text-align: center;
}

.social_icons a:link{
    text-decoration: none;
}

.social_icons a:visited{
    text-decoration: none;
}

.social_icons a:hover {
    text-decoration: none;
}

.social_icons a:active {
    text-decoration: none;
}

.social_icons i{
    margin-top: 10px 0 0 0;
    font-size: 40px;
    text-align: center;
}

.social_icons a:link i{
    text-decoration: none;
}

.social_icons a:visited{
    text-decoration: none;
}

.social_icons a:hover {
    text-decoration: none;
}

.social_icons a:active {
    text-decoration: none;
}