

.authentication a{ font-weight: bold; text-decoration: none; }
.authentication a:link{ text-decoration: none; }
.authentication a:visited{ text-decoration: none; }
.authentication a:hover { text-decoration: none; }
.authentication a:active { text-decoration: none; }

.navigation a{ font-weight: bold; text-decoration: none; }
.navigation a:link{ text-decoration: none; }
.navigation a:visited{ text-decoration: none; }
.navigation a:hover { text-decoration: none; }
.navigation a:active { text-decoration: none; }