@import 'bootstrap/dist/css/bootstrap';
@import "header";
@import "footer";
@import "colour";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  
.navbar-brand { font-size: 3rem; }

.listings-container-heading { text-align: center; }

.body-custom { font-family: 'Rubik', sans-serif; font-size: 15px; }

.card-body { background-color: $tan1; }